
.vs/Assignment_1_Vulkan/v16/ipch/AutoPCH/4d7fd5b5512fc131/MAIN.ipch
.vs/Assignment_2_Vulkan/v16/ipch/AutoPCH/8fa2b896757eafa8/MAIN.ipch
*.ipch
Gateware/
*.obj
*.mtl
*.mat
*.blend
*.blend1
Assets/Obj2Header v1.9d.exe
